<div class="user-activity-container w-100 h-100 text-center">
      <div class="container">
        <h1><strong> User Activity</strong></h1>
      </div>
      <div class="sidebar-body">

        <hr>
        <div *ngFor="let activity of activities">
            <div class="row activity-content">
              <strong>{{ activity.humanize_activity }}, in a board named "{{activity.board_name}}"</strong>
            </div>
            <div class="row activity-footer"> 
              {{ activity.humanize_time }}
            </div>  
            <hr>
          </div>
      </div>
    </div>